body {
  text-align: center;
  background-color: #D7E9F7;
}

h1 {
  font-size: 5rem;
  color: #F4D19B;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

.a {
  background-image: url(./images/crash.png);
  background-repeat: no-repeat;
  grid-area: c;
}

.s {
  background-image: url(./images/kick.png);
  background-repeat: no-repeat;
  grid-area: k;
}

.d{
  background-image: url(./images/snare.png);
  background-repeat: no-repeat;
  grid-area: s;
}

.f {
  background-image: url(./images/tom1.png);
  background-repeat: no-repeat;
  grid-area: t1;
}

.j {
  background-image: url(./images/tom2.png);
  background-repeat: no-repeat;
  grid-area: t2;
}

.k {
  background-image: url(./images/tom3.png);
  background-repeat: no-repeat;
  grid-area: t3;
}

.l {  
  background-image: url(./images/tom4.png);
  background-repeat: no-repeat;
  grid-area: t4;
}

.set {
  margin: 30px 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "s t1 t2 t3"
  "c k k t4"
  ;
  justify-content: center;
  align-items: center;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
